<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.v7ench.askchitvish">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubCateg"
            android:label="@string/title_activity_sub_categ"
            android:parentActivityName=".HomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.askchitvish.HomeScreen" />
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_details"
            android:parentActivityName=".HomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.askchitvish.HomeScreen" />
        </activity>
        <activity
            android:name=".YouTubActivity"
            android:label="@string/title_activity_you_tub"
            android:parentActivityName=".DetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.askchitvish.DetailsActivity" />
        </activity>
        <activity
            android:name=".PagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Trending"
            android:label="@string/title_activity_trending"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecentlyViewed"
            android:label="@string/title_activity_recently_viewed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyFavourites"
            android:label="@string/title_activity_my_favourites"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Aboutus"
            android:label="@string/title_activity_aboutus"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash2"
            android:screenOrientation="portrait"
            android:theme="@style/Spp" />
        <activity
            android:name=".Newrecipe"
            android:label="@string/title_activity_newrecipe"
            android:parentActivityName=".HomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.askchitvish.HomeScreen" />
        </activity>
        <activity
            android:name=".Imageload"
            android:label="@string/title_activity_imageload"
            android:parentActivityName=".DetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.askchitvish.DetailsActivity" />
        </activity>
        <activity
            android:name=".AllRecipes"
            android:label="@string/title_activity_all_recipes"
            android:parentActivityName=".HomeScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.v7ench.askchitvish.HomeScreen" />
        </activity>
    </application>

</manifest>